@import "~bootstrap/scss/bootstrap";

@mixin color-list {
  .heat1 {
    fill: #10d81a;
  }

  .heat2 {
    fill: #e7eb0f;
  }
  .heat3 {
    fill: #19aedb;
  }
  .heat4 {
    fill: #ffae00;
  }
  .heat5 {
    fill: #dd1212;
  }
}
.map__image {
  width: 100%;
  & path {
    width: 100%;
    fill: #d9d9d9;
    stroke: #fff;
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}
.map__image a {
  @include color-list();
}

.list-group {
  .list-group-item {
    color: rgb(0, 0, 0);
  }
  .incidence0 {
    background-color: #10d81a;
  }
  .incidence1 {
    background-color: #e7eb0f;
  }
  .incidence2 {
    background-color: #19aedb;
  }
  .incidence3 {
    background-color: #ffae00;
  }
  .incidence4 {
    background-color: #dd1212;
  }
}

.lastWeekMessage {
  display: inline;
  color: #c40000;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
}

@include media-breakpoint-up(lg) {
  .container {
    width: 48%;
  }
}

html,
body,
#root,
#root > div {
  height: 100%;
}
