.map__image {
  width: 100%;
  & path {
    width: 100%;
    fill: #d9d9d9;
    stroke: #fff;
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}
.map__image a {
  .heat1 {
    fill: #ea9999;
  }

  .heat2 {
    fill: #df0000;
  }

  .heat3 {
    fill: #770404;
  }
}

html,
body,
#root,
#root > div {
  height: 100%;
}

@import "~bootstrap/scss/bootstrap";
